@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-btnred py-3 px-10 my-5 text-white;
  }
  .news_container {
    @apply bg-news_bg p-3;
  }
  .news_list ul p {
    @apply md:text-[18px] md:py-6 text-[15px];
  }
  .news_list ul h2 {
    @apply text-[20px] md:text-xl hover:text-Softorange cursor-pointer;
  }
  nav ul li {
    @apply cursor-pointer hover:text-btnred;
  }
  .store ul li {
    @apply flex;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
}

@media screen and (min-width: 640px) {
  .show {
    transform: translateX(0);
  }
  .image-wrapper {
    background: url("./assets/images/image-web-3-desktop.jpg") center
      center/cover;
  }
}
@media screen and (max-width: 640px) {
  .show {
    transform: translateX(-1000%);
  }
  .image-wrapper {
    background: url("./assets/images/image-web-3-mobile.jpg") center
      center/cover;
  }
}
