@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-btnred py-3 px-10 my-5 text-white;
  }
  .news_container {
    @apply bg-news_bg p-3;
  }
  .news_list ul p {
    @apply md:text-sm md:py-4;
  }
  .news_list ul h2 {
    @apply text-sm hover:text-Softorange cursor-pointer;
  }
  nav ul li {
    @apply cursor-pointer hover:text-btnred;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
:root {
  /* ## Colors */

  /* ### Primary */

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  /* ### Neutral */

  --Off-white: hsl(36, 100%, 99%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);

  --Mobile: 375px;
  --Desktop: 1440px;
}
.store ul li {
  display: flex;
}

@media screen and (min-width: 640px) {
  .show {
    transform: translateX(0);
  }
  .image-wrapper {
    background: url("./assets/images/image-web-3-desktop.jpg") center
      center/cover;
  }
}
@media screen and (max-width: 640px) {
  .show {
    transform: translateX(1000%);
  }
  .image-wrapper {
    background: url("./assets/images/image-web-3-mobile.jpg") center
      center/cover;
  }
}
